In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file_path = r"C:\Users\Paras\OneDrive\Desktop\my sql query\book 1\Book1.csv"
dataset = pd.read_csv(file_path)

In [4]:
dataset.head()

   tv  radi0  newspaper        name  age
0   1     89         52         don   25
1  25     56        366       rohan   36
2  28     85         24      dalall   45
3  47     65         32  kalmilenge   12

In [8]:
min_r=dataset["age"].min()

In [9]:
max_r=dataset["age"].max()

In [12]:
range=max_r-min_r
range

np.int64(33)